<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="adminAssets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('../partials/adminSideView.ejs') %>
    <main class="main-wrap">
        <%- include('../partials/adminHeader.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Resellers List</h2>
                <div>
                    <a href="createresellers" class="btn btn-primary"><i class="material-icons md-plus"></i> Create </a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                           <select class="form-select" id="filterSelect">
                              <option value="all"style="display:none;">status</option>
                              <option value="all">All</option>
                              <option value="unblocked">Unblocked</option>
                              <option value="blocked">Blocked</option>
                              
                          </select>
                            
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select" id="perPageSelect" name="perPage">
                                <option value="5"style="display:none;">Show</option>
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="<%= totalUsers %>">Show All</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <% if (users.length> 0) { %>
                            <thead>
                                <tr>
                                    <th>Seller</th>
                                    <th>Email</th>
                                    <th>Registered</th>
                                    <th >Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% for (let i=0; i < users.length; i++) { %>
                                <tr>
                                    <td width="30%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                                <img src="adminAssets/imgs/userImages/<%= users[i].image %>" class="img-sm img-avatar" alt="Userpic">
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= users[i].name %></h6>
                                                <small class="text-muted"><%= users[i].phone %></small>
                                            </div>
                                        </a>
                                    </td>

                                    <td><span><%= users[i].email %></span></td>

                                   



                                    <td><%= users[i].createdDate.toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %>
                                    </td>

                                    <td>
                                        <% if (users[i].isBlocked) { %>
                                            <a href="/admin/blockuser?id=<%= users[i]._id.toString() %>">
                                                <span class="badge badge-pill badge-soft-danger">Blocked</span>
                                            </a>
                                          <% } else { %>
                                            <a href="/admin/blockuser?id=<%= users[i]._id.toString() %>">
                                                <span class="badge badge-pill badge-soft-primary">Unblocked</span>
                                            </a>
                                          <% } %>
                                    </td>
                                    
                                </tr>
                               
                                <% } %>
                                
                            </tbody>

                            <% } else { %>
                               

                                <td>No users available</td>


                                <% } %>




                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->


            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                <i class="material-icons md-chevron_left"></i>
                              </a>
                            </li>
                          <% } %>
                      
                      
                         
                          <li class="page-item ">
                            <a class="page-link" href="?page=<%= totalPages %>"><%= currentPage %>/<%= totalPages %></a>
                            
                          </li>
                          
                         
                      
                         
                      
                          <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                <i class="material-icons md-chevron_right"></i>
                              </a>
                            </li>
                          <% } %>
                    </ul>
                </nav>
            </div>


            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, XodeyoDesigns
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="adminAssets/js/vendors/select2.min.js"></script>
    <script src="adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="adminAssets/js/main.js" type="text/javascript"></script>

    <script>
        filterSelect.addEventListener("change", function() {
            const selectedOption = filterSelect.value;
            console.log(selectedOption);
            
            let url = '/admin/resellerslist';
            
            if (selectedOption === "blocked") {
                url += '?blocked=true';
            } else if (selectedOption === "unblocked") {
                url += '?blocked=false';
            } else if (selectedOption === "all"){
              url += '?blocked=all'
        
            }
        
        
            window.location.href = url;
        });
            </script>

            <!-- Add this script in your HTML file -->
            <script>
                // Listen for the change event on the perPage select
                $('#perPageSelect').on('change', function () {
                    // Get the selected perPage value
                    const selectedPerPage = $(this).val();
            
                    // Update the URL's query parameter and reload the page
                    window.location.href = updateQueryStringParameter('perPage', selectedPerPage);
                });
            
                // Function to update or add a query parameter in the URL
                function updateQueryStringParameter(key, value) {
                    const url = new URL(window.location.href);
                    url.searchParams.set(key, value);
                    return url.toString();
                }
            </script>

</body>
</html>