<%- include('../layouts/head.ejs') %>
<body>
    <%- include('../layouts/header.ejs') %>
    <main class="main">
        
        <% if (products.length> 0) { %>

        <section class="mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-12">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand"><%= totalProducts %></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <!-- <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>categories</span>
                                        </div> -->
                                        <div class="sort-by-dropdown-wrap">
                                            <span>categories <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="sort-by-dropdown">
                                        <ul id="categoryList">



                                            <li><a class="category-link" href="#" data-category="" >All</a></li>
                                            <% for (let i = 0; i < categories.length; i++) { %>
                                                <li><a class="category-link" href="#" data-category="<%= categories[i].category %>" ><%= categories[i].category %></a></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    
                                    
                                </div>


                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Filters <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a id="sortToggle" class="active" href="?sortOrder=-1">Price: Low to High</a></li>
                                            <li><a href="#">New Arrivals</a></li>
                                            <a href="#">
                                                <div class="sidebar-widget price_range range mb-30">
                                                    <div class="price-filter">
                                                        <div class="price-filter-inner">
                                                            <div id="slider-range"></div>
                                                            <div class="price_slider_amount">
                                                                <div class="label-input">
                                                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <% for (let i=0; i < products.length; i++) { %>
                            <div onclick="window.location.href='/showproducts?id=<%= products[i]._id.toString() %>'"  class="col-lg-3 col-md-3 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="#">
                                                <img class="default-img" src="assets/imgs/productImages/<%= products[i].images[0] %>" alt="">
                                                <img class="hover-img" src="assets/imgs/productImages/<%= products[i].images[1] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> -->
<!-- <i class="fi-rs-search"></i></a> -->
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/showproducts?id=<%= products[i]._id.toString() %>"><%= products[i].productCategory %></a>
                                        </div>
                                        <h2><a href="/showproducts?id=<%= products[i]._id.toString() %>"><%= products[i].productName %></a></h2>
                                        <!-- <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div> -->
                                        <div class="product-price">
                                            <span>₹<%= products[i].price %></span>
                                            <!-- <span class="old-price"><%= products[i].discountRate %></span> -->
                                        </div>
                                        <div class="product-action-1 show">
                                            <!-- <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <% if (currentPage > 1) { %>
                                        <li class="page-item">
                                          <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                            <i class="material-icons md-chevron_left"></i>
                                          </a>
                                        </li>
                                      <% } %>
                                  
                                      <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <% if (i === currentPage) { %>active<% } %>">
                                          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                      <% } %>
                                  
                                      <% if (currentPage < totalPages) { %>
                                        <li class="page-item">
                                          <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                            <i class="material-icons md-chevron_right"></i>
                                          </a>
                                        </li>
                                      <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    
        <% } else { %>
            
            <script>
                window.location.href = '/shop';
            </script>

            <% } %>





    </main>

    
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const categoryLinks = document.querySelectorAll('.category-link');

    categoryLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();

            const categoryValue = link.getAttribute('data-category');
            const searchValue = link.getAttribute('data-search') || '';
            const statusValue = link.getAttribute('data-status') || '';

            const newUrl = window.location.href.split('?')[0] + `?category=${encodeURIComponent(categoryValue)}&search=${encodeURIComponent(searchValue)}&status=${encodeURIComponent(statusValue)}`;
            window.history.pushState({ path: newUrl }, '', newUrl);

            // You can perform additional actions here if needed
            // For example, you may want to reload the page with the new URL
            window.location.reload();
        });
    });
});







function toggleSortOrder(event) {
    event.preventDefault();

    const url = new URL(window.location.href);
    const sortOrder = url.searchParams.get("sortOrder") || "1";

    // Toggle sortOrder between 1 and -1
    const newSortOrder = sortOrder === "1" ? "-1" : "1";

    url.searchParams.set("sortOrder", newSortOrder);

    window.location.href = url.toString();
}

// Attach the click event handler to the link
const sortToggleLink = document.getElementById("sortToggle");

if (sortToggleLink) {
    sortToggleLink.addEventListener("click", toggleSortOrder);
}

</script>

    

    <%- include('../layouts/footer.ejs') %>