<%- include('../layouts/head.ejs') %>
<body>
    <%- include('../layouts/header.ejs') %>  
  <main class="main">
       
        <section class="pt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/productImages/<%= productdata.images[0] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/productImages/<%= productdata.images[1] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/productImages/<%= productdata.images[2] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/productImages/<%= productdata.images[3] %>" alt="product image">
                                            </figure>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="assets/imgs/productImages/<%= productdata.images[0] %>" alt="product image"></div>
                                            <div><img src="assets/imgs/productImages/<%= productdata.images[1] %>" alt="product image"></div>
                                            <div><img src="assets/imgs/productImages/<%= productdata.images[2] %>" alt="product image"></div>
                                            <div><img src="assets/imgs/productImages/<%= productdata.images[3] %>" alt="product image"></div>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                   
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= productdata.productName %></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Remaining: <a href="#" style="color: brown;"><%= productdata.stock %> Items</a></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div> -->
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                              
                                                    <% if ( productdata.discountRate !==productdata.price && new
                                                            Date() <=new Date(productdata.discountEnd) && new Date()>= new
                                                            Date(productdata.discountStart) &&
                                                            productdata.discountStatus==true)
                                                            { %>
                                                                <ins><span class="text-brand"><%= productdata.discountRate %></span></ins>
        
                                                                <ins><span class="old-price font-md ml-15"><%= productdata.price %></span></ins>
                                                            <% } else { %>
                                                                <ins><span class="text-brand"><%= productdata.price %></span></ins>
                                                                    <% } %>
                                                    
                                                                    <%
                                                                    const p = productdata.price / 100;
                                                                    const d = productdata.price - productdata.discountRate;
                                                                    const result = (d / p).toFixed(0);
                                                                %>
                                                                
                                                                
                                                <span class="save-price  font-md color3 ml-15"><%= result %>% off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= productdata.productDescription%></p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 7 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                            </ul>
                                        </div> -->
                                        
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#">S</a></li>
                                                <li class="active"><a href="#">M</a></li>
                                                <li><a href="#">L</a></li>
                                                <!-- <li><a href="#">XL</a></li>
                                                <li><a href="#">XXL</a></li> -->
                                            </ul>
                                        </div>
                                      
                                        <div class="bt-1 border-color-1 mt-30 mb-30 align-items-end"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2">
                                                
                                                <button type="submit" onclick="window.location.href='/buynow'" class="button button-add-to-cart">BUY</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtowishlist()"><i class="fi-rs-heart"></i></a>
                                               <a aria-label="addtocart" class="action-btn hover-up" onclick="addToCart()"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val" id="qty" name="qty">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </div>
                                    
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews (3)</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                   
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    <div class="comment-list">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    <img src="assets/imgs/page/avatar-6.jpg" alt="">
                                                                    <h6><a href="#">Jacky Chan</a></h6>
                                                                    <p class="font-xxs">Since 2012</p>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:90%">
                                                                        </div>
                                                                    </div>
                                                                    <p>Thank you very fast shipping from Poland only 3days.</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                            <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--single-comment -->
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    <img src="assets/imgs/page/avatar-7.jpg" alt="">
                                                                    <h6><a href="#">Ana Rosie</a></h6>
                                                                    <p class="font-xxs">Since 2008</p>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:90%">
                                                                        </div>
                                                                    </div>
                                                                    <p>Great low price and works well.</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                            <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--single-comment -->
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    <img src="assets/imgs/page/avatar-8.jpg" alt="">
                                                                    <h6><a href="#">Steven Keny</a></h6>
                                                                    <p class="font-xxs">Since 2010</p>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:90%">
                                                                        </div>
                                                                    </div>
                                                                    <p>Authentic and Beautiful, Love these way more than ever expected They are Great earphones</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                            <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--single-comment -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h4 class="mb-30">Customer reviews</h4>
                                                    <div class="d-flex mb-30">
                                                        <div class="product-rate d-inline-block mr-15">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <h6>4.8 out of 5</h6>
                                                    </div>
                                                    <div class="progress">
                                                        <span>5 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>4 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>3 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>2 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                    </div>
                                                    <div class="progress mb-30">
                                                        <span>1 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                    </div>
                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--comment form-->
                                        <div class="comment-form">
                                            <h4 class="mb-15">Add a review</h4>
                                            <div class="product-rate d-inline-block mb-30">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12">
                                                    <form class="form-contact comment_form" action="#" id="commentForm">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="button button-contactForm">Submit
                                                                Review</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <h3 class="section-title mb-20"><span>Related</span>Products</h3>
                </div>
                <!--End nav-tabs-->
               
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% for (let i=0; i < products.length; i++) { %>
                            <div onclick="window.location.href='/showproducts?id=<%= products[i]._id.toString() %>'" class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/showproducts?id=<%= products[i]._id.toString() %>">
                                                <img class="default-img" src="assets/imgs/productImages/<%= products[i].images[0] %>" alt="">
                                                <img class="hover-img" src="assets/imgs/productImages/<%= products[i].images[1] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addtowishlist?id=<%= products[i]._id.toString() %>"  onclick="addToWishlist(event)"><i class="fi-rs-heart"></i></a>
                                            <audio id="successSound" src="assets/audios/Voicy_PhHub x See you Again.mp3"></audio>
                                        </div>
                                       
                                        <% if (new Date(products[i].createdAt) > new Date() - 7 * 24 * 60 * 60 * 1000) { %>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="new">new</span>
                                            </div>
                                        <% } else if (1 === 1) { %>
                                            <%
                                            const p = products[i].price / 100;
                                            const d = products[i].price - products[i].discountRate;
                                            const result = (d / p).toFixed(0);
                                        %>
                                        
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot"><%= result %>%</span>
                                        </div>
                                        
                                            
                                        <% } else if (1 === 2) { %>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="sale">hot</span>
                                            </div>
                                        <% } else if (2 === 3) { %>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="best">Top</span>
                                            </div>
                                        <% } %>
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/showproducts?id=<%= products[i]._id.toString() %>"><%= products[i].productCategory %></a>
                                        </div>
                                        <h2><a href="/showproducts?id=<%= products[i]._id.toString() %>"><%= products[i].productName %></a></h2>
                                        <!-- <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div> -->
                                        <div class="product-price">
                                            <% if ( products[i].discountRate !==products[i].price && new
                                                    Date() <=new Date(products[i].discountEnd) && new Date()>= new
                                                    Date(products[i].discountStart) &&
                                                    products[i].discountStatus==true)
                                                    { %>
                                                        <span>₹<%= products[i].discountRate %></span>

                                                    <span class="old-price"><%= products[i].price %></span>
                                                    <% } else { %>
                                                        <span> <%= products[i].price %></span>
                                                            <% } %>
                                            
                                           
                                        </div>
                                        <!-- <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                           
                           <%}%>
                        </div>
                    </div>
                </div>
                </div>
        </section>

    </main>
    <!-- HTML -->

<!-- Include SweetAlert library -->



<!-- JavaScript -->
<script>
    async function addToCart() {
      try {
        
        var qty = document.getElementById('qty').innerText;
    
        var productId = '<%= productdata._id.toString() %>';
    
        var url = '/addtoCart?id=' + productId + '&qty=' + qty;
    
       
        const response = await fetch(url, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        });
    
        if (response.ok) {
         
          const result = await response.json(); 
          if (result.success) {
           
            Swal.fire({
              icon: 'success',
              title: 'Product Added to Cart!',
              text: 'Your product has been added to the cart.',
            });
    
           
          } else {
            // Handle unsuccessful response from the server
            console.error('Failed to add product to cart:', result.message);
          
          }
        } else {
          // Handle non-OK response from the server
          console.error('Failed to add product to cart. Server returned:', response.status);
         
        }
      
    
    } catch (error) {
       
        window.location.href = "/"
      }
    }
// ====================================================================================================================================
async function addtowishlist() {
    var productId = '<%= productdata._id.toString() %>';
    var url = '/addtowishlist?id=' + productId;

    const response = await fetch(url, {
        method: 'GET',
        headers: { 'Content-Type': 'application/json' },
    });

    if (response.ok) {
        const result = await response.json();
        if (result.success) {
            Swal.fire({
                icon: 'success',
                title: 'Product Added to Wishlist!',
                text: 'Your product has been added to the wishlist.',
            });
        } else {
            // Check if the failure is due to the product already being in the wishlist
            if (result.message === 'Product already in wishlist') {
                Swal.fire({
                    icon: 'info',
                    title: 'Product Already in Wishlist',
                    text: 'This product is already in your wishlist.',
                });
            } else {
                console.error('Failed to add product to wishlist:', result.message);
            }
        }
    } else {
        window.location.href = "/"
    }
}


    </script>
    

    <%- include('../layouts/footer.ejs') %>